<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ecomm</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <a href="index.html">shopping categories</a>
        </div>
        <div class="header-links">
          <a href="cart.html">View Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <aside></aside>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="images/img1.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="product.html">Dress</a>
                </div>
                <div class="product-brand">Gucci</div>
                <div class="product-price">20</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">
        All rights reserved
      </footer>
    </div>
  </body>
</html>
